.nav-wrapper{
    padding: 0 2rem;
}

.price{
    font-size: 1.2rem;
}

.card-image img{
    max-height: 250px;
    width: auto;
}

.course{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.course h1 {
    margin-bottom: 2rem;
}

.course img {
    min-width: 100%;
    height: auto;
}

.card-action.actions {
    display: block;
}